body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #d5e1ef;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  height: 497px;
  width: 320px;
  background-color: white;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
img {
  border-radius: 10px;
  height: 288px;
  width: 288px;
  margin-top: 15px;
}

.text {
  font-family: 'Outfit', sans-serif;
  width: 288px;
  text-align: center;
  justify-content: center;
}
p {
  font-size: 15px;
  font-weight: 400;
  color: #7d889e;
  margin-left: 16px;
  margin-right: 16px;
}
h2 {
  font-size: 22px;
  font-weight: 700;
  color: #1f314f;
}
